[submodule "Projetos-SistemaEmbarcados/24b-emb-aps-2-b-gaabridjan"]
	path = Projetos-SistemaEmbarcados/24b-emb-aps-2-b-gaabridjan
	url = https://github.com/insper-classroom/24b-emb-aps-2-b-gaabridjan.git
